body{
    --bodyPaddingTop:40px;
    padding-top: var(--bodyPaddingTop);
    background-color: rgb(12,12,12);
}

main{
    display:flex;
    min-height: 100vh;
    padding-top: 64px;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px dotted white;
}

main .content{
    display:flex;
    flex-direction: column;
    border: 1px solid yellow;
    min-width:50%;
    margin:25px auto;
    padding: 0px 15px;
    flex: 1;
}

main .full-content{
    display: flex;
    width: 100%;
}

.panel{
    display:flex;
    width: 100%;
    min-height: 256px;
    padding: 8px 22px;
    margin: 10px 0;
}

.row{
    flex-direction: column;
}

.col{
    flex-direction: row;
}

.border-color-blue{
    border:1px solid blue;
}
.border-color-blue-sdw{
    box-shadow: 0px 0px 18px -7px rgba(58, 127, 255, 0.9) inset;
}
.border-color-orange{
    border:1px solid rgb(255, 239, 95);
}
.border-color-orange-sdw{
    box-shadow: 0px 0px 18px -7px rgba(248, 211, 3, 0.9) inset;
}
.border-color-green 
{
    border:1px solid rgb(0, 202, 0);
}
.border-color-green-sdw
{
    box-shadow: 0px 0px 18px -7px rgba(0, 202, 0, 0.9) inset;
}
.border-color-red
{
    border:1px solid rgb(255, 2, 2);
}
.border-color-red-sdw
{
    box-shadow: 0px 0px 18px -7px rgb(255, 89, 89) inset;
}

.border-color-blueice
{
    border:1px solid rgb(121, 251, 255);
}
.border-color-blueice-sdw
{
    box-shadow: 0px 0px 18px -7px rgb(121, 251, 255) inset;
}

.border-color-snow
{
    border:1px solid rgb(214, 254, 255);
}
.border-color-snow-sdw
{
    box-shadow: 0px 0px 18px -7px rgb(214, 254, 255) inset;
}
.border-color-violet
{
    border:1px solid rgb(191, 0, 197);
}
.border-color-violet-sdw
{
    box-shadow: 0px 0px 18px -5px rgb(191, 0, 197) inset;
}

.border-color-blacksaber
{
    border:1px solid rgb(49, 50, 51);
}
.border-color-blacksaber-sdw
{
    box-shadow: 0px 0px 18px -5px rgb(145, 135, 145) inset;
}

.round-5 {
    border-radius: 5px;
}


main .content > .item{
    margin: 0 auto;
    padding: 12spx;
}
footer{
    display: flex;
    width:100%;
    height: 128px;
    justify-content: center;
    background-color: var(--black);
    color: aliceblue;
    stroke: aqua;

    border-top: 1px solid  rgb(100,100,100);;
}