.Logo{
    max-width: 168px;
}

@media (max-width:800px){
    .Logo{
        max-width: 105px;
    }
}

.TopMenu{
    width: 100%;
    height: 94px;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top:0;
    left:0;
    right: 0;
    padding: 0 5%;

    background: var(--black);
    border-bottom: 1px solid rgb(100,100,100);
}

@media (max-width:800px){
    .TopMenu{
        height: 40px;
        justify-content: center;
    }
}
.LinkButton{
    color: var(--white);
    border: 1px solid var(--white);
    box-sizing: border-box;
    cursor: pointer;
    padding: 16px 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    outline: none;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    transition: opacity .3s;
    min-height: 32px;
    height: fit-content;
}

.LinkButton:hover,
.LinkButton:focus{
    opacity: .5;
}

@media (max-width: 800px)
{
    .LinkButton{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--primary);
        border-radius: 0;
        border:0;
        text-align: center;
        min-height: 32px;
        height: fit-content;
    }
}