body,html{
  background-color: rgb(44, 41, 41);
  margin:0;
  padding:0;
  color: white;
}
*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}
a{
  color:inherit;
}

